{% extends "base.html" %}

{% block title %}Project #2{% endblock %}

{% block more_css %}
{% endblock more_css %}

{% block content %}
<div class="full layout-grid">
	<section class="width4 stroke">
		<div class="column width4">
		    <div id="searchbar">
		        <form>
	    		    <label class="width2 first"><input type="text" name="q" value="{{ query_term }}" class="text"></label>
	    			<label class="width1"><input type="submit" value="Search" class="unitx1"></label>
	    		</form>
		    </div>
            {% if search_overview is not none %}
		    <hr/>
		    <div id="search_overview">{{ search_overview }}</div>
            {% endif %}
            {% if results is not none %}
	        <hr/>
		    <div id="search_results">
		        {% if sc_message %}
		        Did you mean <strong>{{ sc_message }}</strong>?<br />
		        {% endif %}
		        <ol>
		            {% for r in results %}
		            <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ r.0 }}">{{ r.1 }}</a><br />{{ s }}</li>
		            {% endfor %}
		        </ol>
		    </div>
            {% endif %}
            {% if nav_bar is not none %}
            <hr />
            <p>Nav_bar</p>
            {% endif %}	        
		</div>
		
	</section>

</div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Rank');
        data.addColumn('number', 'Frequency');
        data.addColumn({type:'string', role:'tooltip'});
        
        data.addRows([{{ tf_list }}]);
        var options = {
          title: 'Zipf\'s law',
          hAxis: {title: 'Rank', minValue: 0, maxValue:4},
          vAxis: {title: 'Frequency', minValue: 0, maxValue: 15},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock script %}


